<!DOCTYPE html>
<html>
<head>
	<title>Speed Wheels Online Store</title>
	<%= stylesheet_link_tag "application", media: "all",
		"data-turbolinks-track" => true %>
	<%= javascript_include_tag "application",
		"data-turbolinks-track" => true %>
	<%= csrf_meta_tag %>
	<style> 
		body { background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCdfjMZLpoRRQatwj9zV7hgH5eSken3HG-ixfvWcfXzQSg00M6); } 
	</style>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Speed Wheels" %>
	</div>
	<div id="columns">
	<div id="side">
		<% if @cart %>
			<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
				<%= render @cart %>
			<% end %>
		<% end %>

		<ul>
			<li><a href="http://localhost:3000/">Home</a></li>
			<li><a href="http://localhost:3000/login">Login</a></li>
			<li><a href="http://www.tyrepress.com/">News</a></li>
			<li><a href="http://www.migom.by/news/kak_vibrat_zimnyuyu_rezinu/">FAQ</a></li>

			<a href="http://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*http://pogoda.yandex.ru/minsk"><img src="http://info.weather.yandex.net/minsk/4.ru.png" border="0" alt=""/><img width="1" height="1" src="http://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*http://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
		</ul>

		<% if session[:user_id] %>
			<ul>
				<li><%= link_to 'Orders', orders_path %></li>
				<li><%= link_to 'Products', products_path %></li>
				<li><%= link_to 'Users', users_path %></li>
			</ul>
			<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>
	</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>







